<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHhf8huG2-WO4IUDOiajDYji4OSL2l7bQ</string>
	<key>GCM_SENDER_ID</key>
	<string>33262270042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter-starter-kit.dev</string>
	<key>PROJECT_ID</key>
	<string>sample-dev-4e530</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-dev-4e530.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33262270042:ios:ce3bf4f44862672f010a63</string>
</dict>
</plist>