<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmaIVLe1ujQeug7cpVIuEfd2hqt6NowUU</string>
	<key>GCM_SENDER_ID</key>
	<string>964288054500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter-starter-kit</string>
	<key>PROJECT_ID</key>
	<string>sample-prod-89d5e</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-prod-89d5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964288054500:ios:7e57f9a0955fe2ee0898f1</string>
</dict>
</plist>